<%@page contentType="text/html; charset=UTF-8" pageEncoding="UTF-8" import="bean.Teacher" session="true"%>
<%@page session="true" %>


<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Servlet/JSP Samples</title>
    <link rel="stylesheet" href="kadai/templates/style.css">
</head>
<body>
<div class="highlight">
    <div class="header-title">得点管理システム</div>
    <div class="user-info">
	    <%
	    Teacher teacher = (Teacher) session.getAttribute("teacher");
	    if (teacher != null) {
	    %>
	    <span><%= teacher.getId() %> さん</span>
	    <a href="${pageContext.request.contextPath}/kadai/Logout.action">ログアウト</a>
	    <%
	    } else {
	    %>
	    <a href="login.jsp"></a>
	    <% } %>
    </div>


</div>